﻿@model TuEmpleo.ViewModel.ProyectoUsuarioViewModel
@{
    ViewBag.Title = "AgregarProyecto";
    Layout = "~/Views/ViewShared/_Layout.cshtml";
}
<section class="container padding-top-2x padding-bottom-2x">
    <h2>Agregar Nueva Proyecto</h2>
    @using (Html.BeginForm("GuardarProyecto", "User", FormMethod.Post, new { @class = "login-form" }))
    {
        @Html.TextBoxFor(x => x.PersonaID, new { style = "display:none;", type = "text", @readonly = "readonly", @class = "form-control", placeholder = "Usuario" })
        <div class="col-md-4 col-md-offset-1">
            @Html.TextBoxFor(x => x.Titulo, new { type = "text", @class = "form-control", placeholder = "Titulo", id = "Titulo", required = "required" })
            @Html.TextBoxFor(x => x.Area, new { type = "text", @class = "form-control", placeholder = "Area", id = "Area", required = "required" })
        </div>
        <div class="col-md-4 col-md-offset-3">
            @Html.TextAreaFor(x => x.Descripcion, new { type = "text", @class = "form-control", placeholder = "Descripcion", id = "Descripcion", required = "required" })
        </div>
            <div class="col-md-4 col-md-offset-3">
                @Html.TextBoxFor(x => x.RangoPago, new { type = "text", @class = "form-control", placeholder = "Salario Hora", id = "Salario", required = "required" })
            </div>
            <div class="col-md-4 col-md-offset-3">
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Guardar Cambios</button>
                </div>
            </div>
    }
</section>