﻿
@model TuEmpleo.ViewModel.ProyectoPuestoViewModel
@{
    ViewBag.Title = "Tus Proyectos";
    Layout = "~/Views/ViewShared/_Layout.cshtml";
}
<h2>Proyectos Creados(@Model.Cantidad) </h2>
@if (Model.Cantidad != 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titulo </th>
                    <th>Area</th>
                    <th>Descripcion</th>
                    <th>Rango de Pago</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.ListaProyectos)
                {
                    <tr>
                        <td>@p.ProyectoId</td>
                        <td>@p.Titulo</td>
                        <td>@p.Area</td>
                        <td>@p.Descripcion</td>
                        <td>@p.RangoPago</td>
                        

                        <td class="text-right">
                            <a class="btn btn-default btn-success" href="~/User/AgregarProyecto/@p.ProyectoId" title="Editar Proyecto">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-default btn-success" href="~/User/VerProyecto/@p.ProyectoId" title="Ver Proyecto">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Cantidad == 0)
{

    <h3>No tiene postulaciones</h3>
}