﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TuEmpleo</title>

    <meta name="description" content="M-Store - Modern E-Commerce Template" />
    <meta name="keywords" content="shop, e-commerce, modern, minimalist style, responsive, online store, business, mobile, blog, bootstrap, html5, css3, jquery, js, gallery, slider, touch, creative, clean" />
    <meta name="author" content="Rokaux" />

    <link href="~/Assets/css/vendor/material-icons.min.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/vendor/socicon.min.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/theme.min.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/bootstrap-flatly.css" rel="stylesheet" media="screen">
    <script src="~/Assets/js/vendor/page-preloading.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="page-preloading">
    <div class="page-wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/User/Index">TuEmpleo</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                                               
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Proyectos<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Buscar Proyectos</a></li>
                                <li><a href="~/User/VerProyectosCreados"">Mis Proyectos</a></li>
                                <li><a href="~/User/VerPostulaciones">Mis Postulaciones</a></li>
                                <li class="divider"></li>
                                <li><a href="~/User/AgregarProyecto/0">Crear un Proyecto</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container body-content">
            @if (TempData["objMensaje"] != null)
            {
                var kvpMensaje = (KeyValuePair<String, String>)TempData["objMensaje"];
                String Color = String.Empty;
                String Header = String.Empty;

                switch (kvpMensaje.Key)
                {
                    case "ERR":
                        Header = "<b><i class='fa fa-exclamation-circle'></i> Error!</b>";
                        Color = "danger";
                        break;
                    case "SUC":
                        Header = "<b><i class='fa fa-check'></i> Éxito!</b>";
                        Color = "success";
                        break;
                }

                <div class="alert alert-@Color alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.Raw(Header) @kvpMensaje.Value
                </div>
            }

        @RenderBody()
        </div>

        <footer class="footer">
            <div class="column">
                <p class="text-sm">Necesita ayuda ?Llame a Lusho:<span class="text-primary">001 (917) 555-4836</span></p>
                <div class="social-bar text-center space-bottom">
                    Creditos Lusho
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/Assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Assets/js/scripts.js"></script>>
</body>
</html>
