﻿@model TuEmpleo.ViewModel.UsuarioViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tu Empleo</title>
    <style>
        .jumbotron {
        background: url('/assets/images/bg.png') no-repeat center center;
          
             }
    </style>
    <meta name="description" content="M-Store - Modern E-Commerce Template" />
    <meta name="keywords" content="shop, e-commerce, modern, minimalist style, responsive, online store, business, mobile, blog, bootstrap, html5, css3, jquery, js, gallery, slider, touch, creative, clean" />
    <meta name="author" content="Rokaux" />      
    <link href="~/Assets/css/vendor/material-icons.min.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/vendor/socicon.min.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Assets/css/theme.min.css" rel="stylesheet" media="screen">
    <script src="~/Assets/js/vendor/page-preloading.js"></script>
    <link href="~/Assets/css/bootstrap-flatly.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body class="page-preloading">

    <div class="page-wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">TuEmpleo</a>
                </div>
            </div>
        </nav>
       
        <section class="container">
            <div class="jumbotron bg">
                <h1>Conéctate</h1>
                <p><b>Con miles de empleadores y trabajadores a nivel mundial.</b></p>
                <p><a class="btn btn-primary ">Learn More</a></p>
            </div>
        </section>


        <section class="container padding-top-1x padding-bottom-2x">
            <h1>Usuarios</h1>
            <div class="row padding-top">
                <div class="col-md-4 padding-bottom">
                    <h3>Login</h3>
                    @using (Html.BeginForm("ValidarUsuario", "Home", FormMethod.Post, new { @class = "login-form" }))
                    {
                        @Html.TextBoxFor(x => x.Correo, new { type = "text", @class = "form-control", placeholder = "Correo", required = "required" })
                        @Html.TextBoxFor(x => x.Contraseña, new { type = "password", @class = "form-control", placeholder = "Contraseña", required = "required" })
                        <div class="form-footer">
                            <div class="rememberme">
                                <label class="checkbox">
                                    <input type="checkbox" checked> Remember me
                                </label>
                            </div>
                            <div class="form-submit">
                                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Login</button>
                            </div>
                        </div>                   
                    }
                </div>

                <div class="col-md-4 col-md-offset-1">
                    @if (TempData["objMensaje"] != null)
                            {
                                var kvpMensaje = (KeyValuePair<String, String>)TempData["objMensaje"];
                                String Color = String.Empty;
                                String Header = String.Empty;

                                switch (kvpMensaje.Key)
                                {
                                    case "ERR":
                                        Header = "<b><i class='fa fa-exclamation-circle'></i> Error!</b>";
                                        Color = "danger";
                                        break;
                                    case "SUC":
                                        Header = "<b><i class='fa fa-check'></i> Éxito!</b>";
                                        Color = "success";
                                        break;
                                }

                            <div class="alert alert-@Color alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                @Html.Raw(Header) @kvpMensaje.Value
                            </div>
                        }
                    <h3>Registrate</h3>
                    <div class="inner">
                        @using (Html.BeginForm("RegistrarUsuario", "Home", FormMethod.Post, new { @class = "login-form" }))
                        {

                            @Html.TextBoxFor(x => x.Nombre, new { type = "text", @class = "form-control", placeholder = "Nombre", required = "required" })
                            @Html.TextBoxFor(x => x.Apellido, new { type = "text", @class = "form-control", placeholder = "Apellido", required = "required" })
                            @Html.TextBoxFor(x => x.Dni, new { type = "text", @class = "form-control", placeholder = "DNI", required = "required" })
                            @Html.TextBoxFor(x => x.FechaNacimiento, new { type = "text", @class = "form-control", placeholder = "Fecha de Nacimiento", required = "required" })
                            @Html.TextBoxFor(x => x.Correo, new { type = "text", @class = "form-control", placeholder = "Correo", required = "required" })
                            @Html.TextBoxFor(x => x.Contraseña, new { type = "password", @class = "form-control", placeholder = "Contraseña", required = "required" })
                            <input type="password" class="form-control" placeholder="Repeat password" required>
                            <div class="form-footer">
                                <div class="rememberme"></div>
                                <div class="form-submit">
                                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Sign up</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-3 padding-top-2x">
                    <a href="#" class="social-signup-btn ssb-facebook">
                        <i class="socicon-facebook"></i>
                        <span>Signup with Facebook</span>
                    </a>
                    <a href="#" class="social-signup-btn ssb-google">
                        <i class="socicon-googleplus"></i>
                        <span>Signup with Google+</span>
                    </a>
                    <a href="#" class="social-signup-btn ssb-twitter">
                        <i class="socicon-twitter"></i>
                        <span>Signup with Twitter</span>
                    </a>
                </div>
            </div>
        </section>
        
        <footer class="footer">
            <div class="column">
                <p class="text-sm">Necesita ayuda ?Llame a Lusho:<span class="text-primary">001 (917) 555-4836</span></p>
                <div class="social-bar text-center space-bottom">
                    Creditos Lusho
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/Assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
</body>
</html>
