﻿@model TuEmpleo.ViewModel.ProyectoPuestoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ViewShared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading"><h2>Proyectos Disponibles <span class="badge">@Model.Cantidad</span> </h2></div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titulo </th>
                    <th>Area</th>
                    <th>Descripcion</th>
                    <th>Rango de Pago</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.ListaProyectos)
                {
                    <tr>
                        <td>@p.ProyectoId</td>
                        <td>@p.Titulo</td>
                        <td>@p.Area</td>
                        <td>@p.Descripcion</td>
                        <td>@p.RangoPago</td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-sm" href="~/User/VerProyecto/@p.ProyectoId" title="Ver Proyecto">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
