﻿@model TuEmpleo.ViewModel.ProyectoDetalleViewModel
@{
    ViewBag.Title = "VerProyecto";
    Layout = "~/Views/ViewShared/_Layout.cshtml";
}

<h2>@Model.Proyecto.Titulo</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li>Presupuesto <span class="badge">@Model.Proyecto.RangoPago</span></li>
        </ul>
    </div>
    <div class="panel-body">
        <h3>Descripción </h3>
        <p>
           @Model.Proyecto.Descripcion
        </p>
        <h3>@Model.Proyecto.Area</h3>
        <h3>Skills requeridos</h3>
        <span class="label label-default">Skill1</span>
        <span class="label label-default">Skill2</span>
        <span class="label label-default">Skill3</span>
        <span class="label label-default">Skill4</span>
        <p></p>
    </div>
    <div class="panel-footer">
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>Recuerda leer los requisitos antes de postular a un puesto.</p>
        </div>
    </div>
</div>

@using (Html.BeginForm("AgregarPostulacion", "User", FormMethod.Post))
{
  @Html.TextAreaFor(x => x.MensajePostulacion, new { @class = "form-control" })
  @Html.TextBoxFor(x => x.Proyecto.ProyectoId, new { style = "display:none;", type = "text", @readonly = "readonly", @class = "form-control", placeholder = "ProyectoId" })
  <button type="submit" class="btn btn-primary"><b>Postular</b></button>   
}
</p>
<div class="panel panel-default">
    <div class="panel-heading">Postulaciones</div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Titulo</th>
                    <th>Salario</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody>                
                @for (int i = 0; i < Model.Postulantes.Count(); i++)
                {
                    <tr>
                        <td>@Model.Postulantes[i].Usuario</td>
                        <td>@Model.Postulantes[i].Titulo</td>
                        <td>@Model.Postulantes[i].CobroHora</td>
                        <td>@Model.Mensajes[i].ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>