﻿@model TuEmpleo.ViewModel.UsuarioViewModel
@{
    ViewBag.Title = "CrearPerfil";
    Layout = "~/Views/ViewShared/_Layout.cshtml"; 
    
}
   <section class="container padding-top-2x padding-bottom-2x">
       <h2>Configurar Perfil</h2>  
       
        @using (Html.BeginForm("GuardarPerfil", "Home", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.TextBoxFor(x => x.PersonaId, new { style = "display:none;", type = "text", @readonly = "readonly", @class = "form-control",placeholder = "Usuario" })
            <div class="col-md-4 col-md-offset-1">
                @Html.TextBoxFor(x => x.Usuario, new { type = "text", @class = "form-control", placeholder = "Usuario" })
                @Html.TextBoxFor(x => x.Titulo, new { type = "text", @class = "form-control", placeholder = "Titulo" })
            </div>
            <div class="col-md-4 col-md-offset-3">
                @Html.TextAreaFor(x => x.Descripcion, new { type = "text", @class = "form-control", placeholder = "Descripcion" })
            </div>
            <div class="col-md-4 col-md-offset-3">
               @Html.TextBoxFor(x => x.CobroHora, new { type = "text", @class = "form-control", placeholder = "Salario Hora" })
            </div>
            <div class="col-md-4 col-md-offset-3">
                 <div class="form-submit">
                     <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Guardar Cambios</button>
                   </div>
            </div>
        }
    </section>
